---
import SiteMeta from "../components/SiteMeta.astro";
import { Nav } from "../components/Nav";
import { createReader } from "@keystatic/core/reader";
import config from "../../keystatic.config";
import { inject } from "../lib/slugHelpers";
import invariant from "tiny-invariant";

const { title } = Astro.props;

async function getPostsData() {
  const reader = createReader("", config);
  const pageSlugs = await reader.collections.pages.list();

  return Promise.all([
    ...pageSlugs.map(async (slug) => {
      const page = await inject(slug, reader.collections.pages);
      const content = (await page?.content()) || [];
      return { ...page, content };
    }),
  ]);
}

const pages = await getPostsData();
---

<style>
  @media (min-width: 768px) {
    .grid-template {
      grid-template: "a b" auto / 18rem auto;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SiteMeta title={title} />
  </head>
  <body>
    <div
      class="max-w-7xl mx-auto grid md:h-screen grid-template text-neutral-900"
    >
      <Nav client:load>
        <li>
          <a href="/">Introduction</a>
        </li>
        {
          pages &&
            pages.map(({ slug, title }) => {
              invariant(slug, "pages must have a slug");
              return (
                <li>
                  <a href={slug}>{title}</a>
                </li>
              );
            })
        }
      </Nav>
      <main class="overflow-auto px-6 md:px-9 py-32 md:pt-9 md:pb-20 w-full">
        <slot />
      </main>
    </div>
  </body>
</html>
